{% schema %}
{
  "name": "Collection Grid",
  "settings": [],
  "presets": [{ "name": "Default Collection Grid" }]
}
{% endschema %}

<div class="collection-grid">
  {% for product in collection.products %}
    <div class="product-card">
      <h2>{{ product.title }}</h2>
      <img src="{
        { product.featured_image | img_url: 'medium' }
    }" 
    alt="{{ product.title }}">
      <p>{{ product.price | money }}</p>
    </div>
  {% endfor %}
</div>
